@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #02eeff;
  --color-primary-variant: #5ddce5;
  --color-bg-1: #001517;
  --color-bg-2: #00282d;
  --color-bg-3: #012e34;
  --color-bg-4: #003f47;
  --color-light: #85afb2;
  --color-white: #e6e6e6;

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg-3);
  color: var(--color-light);
  line-height: 1.8;
  overflow-x: hidden;
}

h1,
h2 {
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  color: var(--color-white);
}

h2 {
  font-size: 3.5rem;
}

a {
  color: var(--color-light);
  transition: var(--transition);
}

a:hover {
  color: var(--color-primary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*============================NAVBAR=====================*/
nav {
  width: 100vw;
  height: calc(16px * 5);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: var(--color-bg-2);
  border-bottom: 0.2rem solid var(--color-bg-3);
  box-shadow: 0 0.2rem 0.7rem rgba(0 0 0 / 0.3);
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-primary-variant);
}

.nav-links {
  display: flex;
  gap: 4rem;
}

.nav-socials {
  display: flex;
  gap: 1rem;
}

.nav-socials a {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    var(--color-primary-variant),
    var(--color-primary)
  );
  color: var(--color-bg-4);
  border-radius: 0.5rem;
  transition: var(--transition);
}

.nav-socials a:hover {
  box-shadow: 0 1rem 1rem rgba(0 0 0 / 0.5);
}

/*============================HEADER=====================*/
header {
  max-width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  background: linear-gradient(var(--color-bg-3), var(--color-bg-1));
  overflow: hidden;
}

.header-container {
  display: grid;
  grid-template-columns: 53% 43%;
  gap: 4%;
  margin-top: 10rem;
  position: relative;
}

.header-hashtag {
  color: var(--color-primary-variant);
}

.header-left p {
  margin-top: 2rem;
  width: 85%;
}

.header-btn {
  display: inline-block;
  margin-top: 2rem;
  background-color: var(--color-primary-variant);
  color: var(--color-bg-4);
  padding: 0.5rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
}

.header-btn:hover {
  color: var(--color-light);
  background-color: var(--color-bg-4);
}

.header-btn:active {
  outline: 0.5rem solid var(--color-light);
}

.header-image-bg {
  width: 16rem;
  height: 22rem;
  background-color: var(--color-bg-4);
  position: absolute;
  right: 0;
  top: 0;
}

.header-image-lg {
  width: 28rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  filter: saturate(0) brightness(0.5);
  transition: var(--transition);
}

.header-image-md {
  width: 26rem;
  height: 26rem;
  overflow: hidden;
  position: absolute;
  top: 10rem;
  right: 10rem;
  transition: var(--transition);
}

.header-right:hover .header-image-md {
  opacity: 0;
}

.header-right:hover .header-image-lg {
  filter: saturate(1) brightness(1);
  border: 1rem solid var(--color-bg-4);
  top: 0;
  right: 0;
}

.header-frames {
  position: absolute;
  top: 75vh;
  left: 25vw;
}

.header-frame {
  width: 20rem;
  border: 0.5rem solid var(--color-bg-3);
  box-shadow: 0 0 5rem rgba(0 0 0 / 0.5);
  position: absolute;
  transform: rotate(-10deg);
  transform-origin: bottom left;
  transition: var(--transition);
}

.header-frame:nth-child(2) {
  transform: rotate(20deg);
  top: -2rem;
  left: -2rem;
}

.header-frames:hover .header-frame {
  transform: rotate(0);
}

.header-frames:hover .header-frame:nth-child(2) {
  top: 0;
  left: 21rem;
}

/*============================ABOUT=====================*/
#about {
  margin-top: 20rem;
}

.about-container {
  display: grid;
  grid-template-columns: 43% 53%;
  gap: 4%;
}

.about-left {
  position: relative;
}

.about-image-bg {
  width: 16rem;
  height: 22rem;
  background-color: var(--color-bg-4);
  position: absolute;
  left: 0;
  bottom: 0;
}

.about-image-lg {
  width: 28rem;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  filter: saturate(0) brightness(0.5);
  transition: var(--transition);
}

.about-image-md {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 15rem;
  top: 8rem;
  overflow: hidden;
  box-shadow: 2rem 2rem 2rem rgba(0 0 0 / 0.2);
  transition: var(--transition);
}

.about-left:hover .about-image-md {
  opacity: 0;
}

.about-left:hover .about-image-lg {
  filter: saturate(1) brightness(1);
  border: 1rem solid var(--color-bg-4);
  box-shadow: 1rem 1rem 3rem rgba(0 0 0 / 0.2);
  bottom: 0;
  left: 0;
}

.about-right {
  margin-left: 5rem;
}

.about-title {
  margin-bottom: 3rem;
}

.about-right p {
  margin-bottom: 1.5rem;
  width: 93%;
}

.about-btn {
  margin-top: 1.5rem;
}

/*============================GALLERY=====================*/
#gallery {
  margin-top: 15rem;
}

.gallery-head h2 {
  margin-bottom: 2rem;
}

.gallery-head p {
  width: 50%;
  margin-bottom: 3rem;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  place-items: center;
}

.gallery-image {
  width: 25rem;
  border: 1rem solid var(--color-bg-4);
}

.gallery-image img {
  filter: saturate(0) brightness(0.5);
  transition: var(--transition);
}

.gallery-image:hover img {
  filter: saturate(1) brightness(1);
}

/*============================COLLAGE=====================*/
#collage {
  margin-top: 15rem;
}

.collage-head {
  text-align: right;
}

.collage-head h2 {
  margin-bottom: 2rem;
}

.collage-head p {
  padding-left: 50%;
  margin-bottom: 3rem;
}

.collage-images {
  display: grid;
  grid-template-areas:
    "a b c"
    "d e g"
    "f f g"
    "f f g";
  gap: 2rem;
}

.collage-image:nth-child(1) {
  grid-area: a;
}

.collage-image:nth-child(2) {
  grid-area: b;
}

.collage-image:nth-child(3) {
  grid-area: e;
}

.collage-image:nth-child(4) {
  grid-area: c;
}

.collage-image:nth-child(5) {
  grid-area: d;
}

.collage-image:nth-child(6) {
  grid-area: f;
}

.collage-image:nth-child(7) {
  grid-area: g;
}

.collage-image {
  border: 1rem solid var(--color-bg-4);
}

.collage-image img {
  height: 100%;
  filter: saturate(0) brightness(0.5);
  transition: var(--transition);
}

.collage-image:hover img {
  filter: saturate(1) brightness(1);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
}

/*====================MEDIA QUERY (medium devices)===========*/
@media screen and (max-width: 1366px) {
  .gallery-images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1280px) {
  .about-right {
    margin-left: 8rem;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .nav-container {
    justify-content: center;
  }

  .nav-links,
  .nav-socials {
    display: none;
  }

  header {
    background: none;
    padding-top: 5rem;
    height: fit-content;
  }

  .header-image-bg,
  .header-image-md {
    display: none;
  }

  .header-image-lg {
    filter: saturate(1) brightness(1);
    top: 0;
    right: 0;
  }

  .header-frames {
    display: none;
  }

  #about {
    margin-top: 0;
    padding-top: 10rem;
  }

  .about-image-bg,
  .about-image-md {
    display: none;
  }

  .about-image-lg {
    filter: saturate(1) brightness(1);
    left: 0;
    top: 0;
  }

  .about-left:hover .about-image-lg {
    border: none;
    box-shadow: none;
  }

  .about-right {
    margin-left: 3rem;
  }

  #gallery {
    margin-top: 0;
    padding-top: 10rem;
  }

  .gallery-head {
    text-align: center;
  }

  .gallery-head p {
    width: 100%;
  }

  #collage {
    margin-top: 0;
    padding-top: 10rem;
  }

  .collage-head {
    text-align: center;
  }

  .collage-head p {
    padding-left: 0;
  }
}

@media screen and (max-width: 978px) {
  .header-image-lg,
  .about-image-lg,
  .gallery-image {
    width: 20rem;
  }
}

/*====================MEDIA QUERY (small devices)===========*/
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  header {
    padding: 3rem;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
  }

  .header-container p {
    width: 100%;
  }

  .header-left {
    order: 1;
  }

  .header-image-lg {
    position: static;
    margin-bottom: 3rem;
  }

  .about-container {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .about-image-lg {
    position: static;
  }

  .about-right {
    text-align: center;
    margin-left: 0;
  }

  .about-right p {
    text-align: justify;
    width: 100%;
  }

  .gallery-images {
    grid-template-columns: 1fr;
  }

  .collage-images {
    gap: 0.5rem;
    animation: layout-change 20s linear infinite;
  }

  @keyframes layout-change {
    0% {
      grid-template-areas:
        "d e a"
        "b c g"
        "f f g"
        "f f g";
    }

    25% {
      grid-template-areas:
        "f f g"
        "f f g"
        "b c g"
        "e d a";
    }

    50% {
      grid-template-areas:
        "g b c"
        "g d e"
        "g f f"
        "a f f";
    }

    75% {
      grid-template-areas:
        "a b c"
        "g d e"
        "g f f"
        "g f f";
    }

    100% {
      grid-template-areas:
        "d e a"
        "b c g"
        "f f g"
        "f f g";
    }
  }

  .collage-image {
    border-width: 0.5rem;
  }

  .collage-image img {
    filter: saturate(0) brightness(0.3);
    animation: color-change 20s linear infinite;
  }

  @keyframes color-change {
    to {
      filter: saturate(1) brightness(1);
    }
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }
}
